
<div class="footer-gap"></div>

<footer class="site-footer">
  <h2 class="footer-heading">{{ site.title }}</h2>

  <div class="footer-col-wrapper">
    <div class="footer-col footer-col-1">
      <ul class="contact-list">
        <li class="rss-subscribe"><a href="{{ "/news.xml" | prepend: site.baseurl }}">RSS Feed</a>
        </li>
        <li><a href="{{ site.contact_page }}">Contact information</a></li>
        {% if site.github_path %}
        <li>
          {% include icon-github.html username=site.github_path %}
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}
      </ul>
    </div>
  </div>

</footer>
