<header class="site-header">

<div class="banner">
  <h1><a href="/">
    <img src="/images/sunt-200.png" width="80" alt="sun image"/>PLASMA
  </a></h1>
</div>

<nav class="site-nav">
  <ul>
    <li><a class="page-link" href="/docs/">Documentation</a></li>
    <li><a class="page-link" href="/roadmap.html">Roadmap</a></li>
    <li><a class="page-link" href="/faq.html">FAQ</a></li>
    <li><a class="page-link" href="/contact.html">Contact</a></li>
  <ul>
</nav>
<div class="menu-gap"></div>

</header>
